%h1
  %Helloo#world
  %p Find me in app/views/index.html.erb 

.fa.fa-flag
.fab.fa-amazon
= link_to root_path do
  .fa.fa-home
= link_to courses_path, class: 'btn btn-succes' do
  .fa.fa-book
  Course
